<div class="row" ng-controller="Demo2Controller">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">
        A:
      </label>

      <input type="text" class="form-control" ng-model="a">
    </div>

    <div class="form-group">
      <label class="control-label">
        B:
      </label>

      <input type="text" class="form-control" ng-model="b">
    </div>

    <div class="form-group">
      <label class="control-label">
        C:
      </label>

      <input type="text" class="form-control" ng-model="c">
    </div>

    <div class="form-group" ng-show="result">
      <label class="control-label">
        Result:
      </label>

      <p class="form-control-static">
        {{ result }}
      </p>
    </div>
  </div>

  <div class="col-md-6">
    <button type="button" class="btn btn-primary" ng-click="plus()">
      Plus
    </button>

    <button type="button" class="btn btn-primary" ng-click="minus()">
      Minus
    </button>

    <button type="button" class="btn btn-primary" ng-click="multiply()">
      Multiply
    </button>

    <button type="button" class="btn btn-primary" ng-click="divide()">
      Divide
    </button>

    <button type="button" class="btn btn-primary" ng-click="mod()">
      Mod
    </button>
  </div>
</div>
