<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">
        A:
      </label>

      <input type="text" class="form-control" id="a">
    </div>

    <div class="form-group">
      <label class="control-label">
        B:
      </label>

      <input type="text" class="form-control" id="b">
    </div>

    <div class="form-group" id="result_wrapper">
      <label class="control-label">
        Result:
      </label>

      <p class="form-control-static" id="result">
        xxx
      </p>
    </div>
  </div>

  <div class="col-md-6">
    <button type="button" data-operator="plus" class="btn btn-primary btn-operator">
      Plus
    </button>

    <button type="button" data-operator="minus" class="btn btn-primary btn-operator">
      Minus
    </button>

    <button type="button" data-operator="multiply" class="btn btn-primary btn-operator">
      Multiply
    </button>

    <button type="button" data-operator="divide" class="btn btn-primary btn-operator">
      Divide
    </button>

    <button type="button" data-operator="mod" class="btn btn-primary btn-operator">
      Mod
    </button>
  </div>
</div>
