<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p >

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<p>
  followings:
  <% @user.followings.each do |following| %>
    <%= following.name %>
  <% end %>
</p>

<p>
  <strong>Posts:</strong>
  <% @user.posts.each do |post| %>
  <h3>Title:  <%= post.title %></h3>
  <%= post.body %></br>
  Published: <%= post.published %>
  <hr>
  <% end %>
</p>
