<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.published %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_post_path, class: 'btn btn-default' do %>
  <i class="fa fa-plus"></i>
  New Post
<% end %>

<button type="button" id="test_button1" data-number="1" class="button">
  Click Me 1
</button>

<button type="button" id="test_button2" data-number="2" class="button">
  Click Me 2
</button>

<button type="button" id="test_button3" data-number="3" class="button">
  Click Me 3
</button>
