<!DOCTYPE html>
<html ng-app="Twitter">
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/navbar' %>

<div class="container">
  <div class="page-header">
    <h3>Twitter Copycat</h3>
  </div>

  <%= yield %>
</div>

</body>
</html>
